@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto mono, sans-serif;
    background: #f5f5f5;
    text-align: center;
}

h1 {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    letter-spacing: 2px;
}

/*  Loader  */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.container_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 50%;
    margin: 10px 30%;
}

.container_image img {
    width: 100%;
    margin: 10px;
}

/* Media query: Tablet or Samller */


@media screen and (max-width: 1000px) {
    .container_image {
        max-width: 80%;
        margin: 10px 10%;
    }

    h1 {
        font-size: 2rem;
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .container_image {
        max-width: 90%;
        margin: 10px 10%;
    }

    h1 {
        font-size: 1rem;
        width: 80%;
    }
}